{% sw_extends '@Storefront/storefront/page/checkout/finish/index.html.twig' %}

{% block page_checkout_finish %}
    {% if config('JunuModernBooster.config.confettiEnabled') %}
        <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.9.3/dist/confetti.browser.min.js"></script>
        <div data-confetti-enabled="true" data-confetti-plugin></div>
    {% endif %}
    {{ parent() }}
{% endblock %}

{% block page_checkout_additional_finish %}{% endblock %}