.junu {
  &.is-ctl-blogpost {
    nav[aria-label="breadcrumb"] {
      display: none;
    }
    img.shop-studio-blog-blog-post-detail-main-image__image {
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
    }
  }
  .shop-studio-blog-blog-post-box {
    position: relative;
    &::after {
      margin-top: 0 !important;
      border: none;
    }
    .row {
      display: flex;
      align-items: center;
    }
    .shop-studio-blog-blog-post-box__content__info__actions {
      display: none;
    }
  }
  .shop-studio-blog-blog-post-detail-content__content--faq_text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1.5rem;
  }

  .shop-studio-blog-blog-post-detail-content-faq-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .shop-studio-blog-blog-post-detail-content-faq-text__question {
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1.4;
  }

  .shop-studio-blog-blog-post-detail-content-faq-text__answer {
    font-size: 1rem;
    line-height: 1.6;
  }
}
