.junu {
    .twt-usp-bar.is-footer {
        border-top: 1px solid $sw-border-color;
        border-bottom: 1px solid $sw-border-color;

        .twt-usp-bar-container {
            height: 65px;
        }

        .twt-usp-bar-item {
            flex-direction: row;
            column-gap: 0.5rem;
            font-size: 0.95rem;
            color: $sw-text-color;
        }

        i {
            font-size: 1.25rem;
            color: $sw-color-brand-primary;
        }
    }

    .twt-usp-bar.is-header {
        .twt-widget {
            display: none;
        }

        .twt-usp-bar-items {
            @include media-breakpoint-up(lg) {
                justify-content: space-around !important;
            }
        }

        .twt-usp-bar-item {
            flex-direction: row;
            column-gap: 0.65rem;
        }

        i {
            font-size: 0.85rem;
            color: $twt-usp-bar-header-color;
        }
    }
}