.junu {
  @media (max-width: 575.98px) {
    .header-actions-col {
      padding-top: 12px;
    }
    .header-logo-col {
      display: none;
    }
    .header-actions-col .col.d-sm-none {
      display: flex;
    }
    .header-logo-col {
      display: none;
    }
  }
  header.header-main .twt-sticky-header-menu-button {
    /* display:block !important; */
    display: flex !important;
    align-items: center;
    flex: 0;
  }

  .header-logo-main {
    display: flex;
    width: auto;
    flex: 1;
    margin-top: -0.562rem;
  }
  .header-logo-main-link {
    display: inline-flex;
    width: auto;
  }
  .header-logo-main-img {
    max-height: 2.75rem;
  }
}
