.junu {
  .offcanvas.navigation-offcanvas {
    .offcanvas-close {
      background-color: #fff;
      border: 0;
      &:focus,
      &:active,
      &:focus-within {
        background-color: #fff;
      }
    }
    .navigation-offcanvas-link {
      font-size: 1.05rem;
      font-weight: 600;
    }
    .navigation-offcanvas-list-item {
      border-top: 1px solid $sw-border-color;
      &:last-child {
        border-bottom-color: $sw-border-color;
      }
      &:hover {
        color: $sw-color-brand-primary;
      }
    }
    .navigation-offcanvas-headline {
      font-size: 1.05rem;
      color: $sw-color-brand-primary;
    }
    .header-logo-main-img {
        max-width: 160px;
    }
    .ju-cms-contact {
        display: block;
        position: absolute;
        width: 100%;
        bottom: 0;
    }
  }
}
