{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_footer %}
<div class="cms-section bg-color  pos-13 cms-section-default" style="background-color: #018670;">

                    <!-- INCLUDE BEGIN @TcinnThemeWareModern/storefront/section/cms-section-default.html.twig (custom/plugins/TcinnThemeWareModern/src/Resources/views/storefront/section/cms-section-default.html.twig) --><!-- INCLUDE END @TcinnThemeWareModern/storefront/section/cms-section-default.html.twig --><!-- INCLUDE BEGIN @Storefront/storefront/section/cms-section-default.html.twig (vendor/shopware/storefront/Resources/views/storefront/section/cms-section-default.html.twig) --><!-- BLOCK BEGIN page_content_section_default (vendor/shopware/storefront/Resources/views/storefront/section/cms-section-default.html.twig) -->            <section class="cms-section-default boxed">
                    <!-- BLOCK BEGIN section_default_content_block (vendor/shopware/storefront/Resources/views/storefront/section/cms-section-default.html.twig) -->                <!-- INCLUDE BEGIN @TcinnThemeWareModern/storefront/section/cms-section-block-container.html.twig (custom/plugins/TcinnThemeWareModern/src/Resources/views/storefront/section/cms-section-block-container.html.twig) --><!-- INCLUDE END @TcinnThemeWareModern/storefront/section/cms-section-block-container.html.twig --><!-- INCLUDE BEGIN @Storefront/storefront/section/cms-section-block-container.html.twig (vendor/shopware/storefront/Resources/views/storefront/section/cms-section-block-container.html.twig) --><!-- BLOCK BEGIN section_content_block (custom/plugins/TcinnThemeWareModern/src/Resources/views/storefront/section/cms-section-block-container.html.twig) -->    
            
            
            
        
                    <!-- BLOCK BEGIN section_content_block (vendor/shopware/storefront/Resources/views/storefront/section/cms-section-block-container.html.twig) -->
                
                
    
    
    
                
            
    
                
            
    <div class="cms-block bg-color twt-cms-block-reset pos-0 cms-block-twt-grid-three-column position-relative" style=" background-color: #018670;;">

        <!-- BLOCK BEGIN section_content_block_background_image (vendor/shopware/storefront/Resources/views/storefront/section/cms-section-block-container.html.twig) -->                    <!-- BLOCK END section_content_block_background_image -->
        <!-- BLOCK BEGIN section_content_block_container (custom/plugins/TcinnThemeWareModern/src/Resources/views/storefront/section/cms-section-block-container.html.twig) -->        
        <!-- BLOCK BEGIN section_content_block_container (vendor/shopware/storefront/Resources/views/storefront/section/cms-section-block-container.html.twig) -->            <div class="cms-block-container" style="padding: 50px 20px 50px 20px;">
                <!-- BLOCK BEGIN section_content_block_row (vendor/shopware/storefront/Resources/views/storefront/section/cms-section-block-container.html.twig) -->                    <div class="cms-block-container-row row cms-row ">
                        <!-- INCLUDE BEGIN @TcinnThemeWareModern/storefront/block/cms-block-twt-grid-three-column.html.twig (custom/plugins/TcinnThemeWareModern/src/Resources/views/storefront/block/cms-block-twt-grid-three-column.html.twig) -->
<!-- BLOCK BEGIN block_twt_grid_three_column (custom/plugins/TcinnThemeWareModern/src/Resources/views/storefront/block/cms-block-twt-grid-three-column.html.twig) -->    
        
        
    <!-- BLOCK BEGIN block_twt_grid_three_column_left (custom/plugins/TcinnThemeWareModern/src/Resources/views/storefront/block/cms-block-twt-grid-three-column.html.twig) -->        
        <div class="column-1 col-12 col-lg-4 twt-column left first" data-cms-element-id="01965f19e54074d99df2c6cdb1dabf03">
            <!-- BLOCK BEGIN block_twt_grid_three_column_left_inner (custom/plugins/TcinnThemeWareModern/src/Resources/views/storefront/block/cms-block-twt-grid-three-column.html.twig) -->                <!-- INCLUDE BEGIN @Storefront/storefront/element/cms-element-html.html.twig (vendor/shopware/storefront/Resources/views/storefront/element/cms-element-html.html.twig) --><!-- BLOCK BEGIN element_html (vendor/shopware/storefront/Resources/views/storefront/element/cms-element-html.html.twig) -->    <div class="cms-element-html">
        <!-- BLOCK BEGIN element_html_inner (vendor/shopware/storefront/Resources/views/storefront/element/cms-element-html.html.twig) -->            <div class="junu-cms-contact">
  <i class="fa-solid fa-phone" style="color: #fff;"></i>
  <div>
    <h3 class="usp-headline" style="color: #fff;">Rufen Sie uns doch gern an </h3>
    <a href="tel:+493057713100" class="usp-text" style="color: #fff;">+49 30 57713100</a>
  </div>
</div>
        <!-- BLOCK END element_html_inner -->    </div>
<!-- BLOCK END element_html --><!-- INCLUDE END @Storefront/storefront/element/cms-element-html.html.twig -->            <!-- BLOCK END block_twt_grid_three_column_left_inner -->        </div>
    <!-- BLOCK END block_twt_grid_three_column_left -->
    <!-- BLOCK BEGIN block_twt_grid_three_column_center (custom/plugins/TcinnThemeWareModern/src/Resources/views/storefront/block/cms-block-twt-grid-three-column.html.twig) -->        
        <div class="column-2 col-12 col-lg-4 twt-column center" data-cms-element-id="01965f19e54074d99df2c6ce784465f1">
            <!-- BLOCK BEGIN block_twt_grid_three_column_center_inner (custom/plugins/TcinnThemeWareModern/src/Resources/views/storefront/block/cms-block-twt-grid-three-column.html.twig) -->                <!-- INCLUDE BEGIN @Storefront/storefront/element/cms-element-html.html.twig (vendor/shopware/storefront/Resources/views/storefront/element/cms-element-html.html.twig) --><!-- BLOCK BEGIN element_html (vendor/shopware/storefront/Resources/views/storefront/element/cms-element-html.html.twig) -->    <div class="cms-element-html">
        <!-- BLOCK BEGIN element_html_inner (vendor/shopware/storefront/Resources/views/storefront/element/cms-element-html.html.twig) -->            <div class="junu-cms-contact">
  <i class="fa-solid fa-envelope" style="color: #fff;"></i>
  <div>
    <h3 class="usp-headline" style="color: #fff;">Schreiben Sie uns </h3>
    <a href="mailto:auftrag@hanfosan.de" class="usp-text" style="color: #fff;">auftrag@hanfosan.de</a>
  </div>
</div>
        <!-- BLOCK END element_html_inner -->    </div>
<!-- BLOCK END element_html --><!-- INCLUDE END @Storefront/storefront/element/cms-element-html.html.twig -->            <!-- BLOCK END block_twt_grid_three_column_center_inner -->        </div>
    <!-- BLOCK END block_twt_grid_three_column_center -->
    <!-- BLOCK BEGIN block_twt_grid_three_column_right (custom/plugins/TcinnThemeWareModern/src/Resources/views/storefront/block/cms-block-twt-grid-three-column.html.twig) -->        
        <div class="column-3 col-12 col-lg-4 twt-column right last" data-cms-element-id="01965f19e54074d99df2c6cfd14e2d22">
            <!-- BLOCK BEGIN block_twt_grid_three_column_right_inner (custom/plugins/TcinnThemeWareModern/src/Resources/views/storefront/block/cms-block-twt-grid-three-column.html.twig) -->                <!-- INCLUDE BEGIN @Storefront/storefront/element/cms-element-html.html.twig (vendor/shopware/storefront/Resources/views/storefront/element/cms-element-html.html.twig) --><!-- BLOCK BEGIN element_html (vendor/shopware/storefront/Resources/views/storefront/element/cms-element-html.html.twig) -->    <div class="cms-element-html">
        <!-- BLOCK BEGIN element_html_inner (vendor/shopware/storefront/Resources/views/storefront/element/cms-element-html.html.twig) -->            <div class="junu-cms-contact">
  <i class="fa-solid fa-comments-question-check" style="color: #fff;"></i>
  <div>
    <h3 class="usp-headline" style="color: #fff;">Chatten Sie mit uns </h3>
    <a href="#brevoConversationsExpanded" class="usp-text" style="color: #fff;">Chat öffnen</a>
  </div>
</div>
        <!-- BLOCK END element_html_inner -->    </div>
<!-- BLOCK END element_html --><!-- INCLUDE END @Storefront/storefront/element/cms-element-html.html.twig -->            <!-- BLOCK END block_twt_grid_three_column_right_inner -->        </div>
    <!-- BLOCK END block_twt_grid_three_column_right --><!-- BLOCK END block_twt_grid_three_column --><!-- INCLUDE END @TcinnThemeWareModern/storefront/block/cms-block-twt-grid-three-column.html.twig -->                    </div>
                <!-- BLOCK END section_content_block_row -->            </div>
        <!-- BLOCK END section_content_block_container -->
<!-- BLOCK END section_content_block_container -->    </div>
<!-- BLOCK END section_content_block -->
    <!-- BLOCK END section_content_block --><!-- INCLUDE END @Storefront/storefront/section/cms-section-block-container.html.twig -->            <!-- BLOCK END section_default_content_block -->            </section>
<!-- BLOCK END page_content_section_default --><!-- INCLUDE END @Storefront/storefront/section/cms-section-default.html.twig -->                </div>
	{{ parent() }}
{% endblock %}