{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_footer %}
<div class="cms-section bg-color pos-13 cms-section-default" style="background-color: #018670;">
    <section class="cms-section-default boxed">
        <div class="cms-block bg-color twt-cms-block-reset pos-0 cms-block-twt-grid-three-column position-relative" style="background-color: #018670;">
            <div class="cms-block-container" style="padding: 50px 20px 50px 20px;">
                <div class="cms-block-container-row row cms-row">
                    <div class="column-1 col-12 col-lg-4 twt-column left first" data-cms-element                <div class="cms-element-html">
                    <div class="junu-cms-contact">
                        <i class="fa-solid fa-phone" style="color: #fff;"></i>
                        <div>
                            <h3 class="usp-headline" style="color: #fff;">Rufen Sie uns doch gern an</h3>
                            <a href="tel:+493057713100" class="usp-text" style="color: #fff;">+49 30 57713100</a>
                        </div>
                    </div>
                </div>
                <div class="column-2 col-12 col-lg-4 twt-column center" data-cms-element-id="01965f19e54074d99df2c6ce784465f1">
                    <div class="cms-element-html">
                        <div class="junu-cms-contact">
                            <i class="fa-solid fa-envelope" style="color: #fff;"></i>
                            <div>
                                <h3 class="usp-headline" style="color: #fff;">Schreiben Sie uns</h3>
                                <a href="mailto:auftrag@hanfosan.de" class="usp-text" style="color: #fff;">auftrag@hanfosan.de</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column-3 col-12 col-lg-4 twt-column right last" data-cms-element-id="01965f19e54074d99df2c6cfd14e2d22">
                    <div class="cms-element-html">
                        <div class="junu-cms-contact">
                            <i class="fa-solid fa-comments-question-check" style="color: #fff;"></i>
                            <div>
                                <h3 class="usp-headline" style="color: #fff;">Chatten Sie mit uns</h3>
                                <a href="#brevoConversationsExpanded" class="usp-text" style="color: #fff;">Chat öffnen</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{{ parent() }}
{% endblock %}