{% sw_extends '@Storefront/storefront/layout/footer/footer.html.twig' %}

{% block layout_footer_copyright %}
	{{ parent() }}
	<div class="junu-footer-disclaimer">
		<p>{{ 'junu.footer.disclaimer'|trans|sw_sanitize }}</p>
	</div>
{% endblock %}