{% sw_extends '@TcinnThemeWareModern/storefront/element/cms-element-twt-hero-teaser.html.twig' %}
{% block element_twt_hero_teaser %}
	<div class="junu-cms-quick-badge">
		{{ parent() }}
	</div>
{% endblock %}
