{% sw_extends '@Storefront/storefront/layout/navigation/offcanvas/item-link.html.twig' %}

{% block layout_navigation_offcanvas_navigation_categories_list_category_item_link_text %}
    {{ parent() }}

    {% set badgeCategoryId = config('JunuModernBooster.config.junuBadgeCategory') %}
    {% if badgeCategoryId and item.category.id == badgeCategoryId %}
        <span class="sale-badge">{{ "junu.navigation.badge"|trans }}</span>
    {% endif %}
{% endblock %}