{% sw_extends '@Storefront/storefront/component/delivery-information.html.twig' %}

{% block component_delivery_information_available %}
    {% set locale = app.request.locale|default('en-GB') %}
    {% set snippetOrderWithin = 'junu.product.delivery.orderWithin'|trans({
        '%hours%': '%hours%',
        '%mins%': '%mins%',
        '%date%': '%date%'
    }) %}
    {% set snippetOrderWithinTomorrow = 'junu.product.delivery.orderWithinTomorrow'|trans({
        '%hours%': '%hours%',
        '%mins%': '%mins%',
        '%date%': '%date%'
    }) %}

    <p class="delivery-information delivery-available" id="delivery-message" 
       data-delivery-countdown
       data-locale="{{ locale }}"
       data-snippet-orderwithin="{{ snippetOrderWithin|escape('html_attr') }}"
       data-snippet-orderwithintomorrow="{{ snippetOrderWithinTomorrow|escape('html_attr') }}">
        {{ snippetOrderWithinTomorrow|sw_sanitize }}
    </p>
{% endblock %}