{% sw_extends '@Storefront/storefront/component/listing/filter-panel.html.twig' %}
{% block component_filter_panel_header %}
	<div class="filter-panel-offcanvas-header">
		<div class="filter-panel-offcanvas-only filter-panel-offcanvas-title h2">{{ "listing.filterTitleText"|trans }}</div>

		<button type="button" class="btn-close filter-panel-offcanvas-only filter-panel-offcanvas-close js-offcanvas-close" aria-label="{{ 'listing.filterClose'|trans|striptags }}"></button>
	</div>
{% endblock %}
